ul{
    list-style: none;
}
/* h1,h2,h3{
    margin: 0;
    padding: 0;
} */
html{
    margin: 0;
    padding: 0;
    height: 100vh;
}
body{
    margin: 0;
    padding: 2rem 2.5% 3.5rem;
    color: white;
    font-family: "Montserrat" , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    background-image: url("leyre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.content{
    max-width: max-content;
    margin: 0 auto;
}
/* BEGINNING OF HEADER STYLES */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
/* header a{
    margin-left: .5em;
} */
header h1{
    margin: 0;
}
header .info{
    background-color: transparent;
    border: 0px;
    /* margin-right: .5em; */
}
/* END OF HEADER STYLES */


/* remove padding from all lists and put tabs at beginnings? Put extra padding between list items? */
main{
    margin: 0 auto;
    padding: 1rem 2.5% 0;
}
main h2,
main h3{
    text-align: center;
    margin: 1rem 0;
}
.outermost-list{
    margin: 0;
    padding: 1rem 0 0;
    line-height: 1.6;
}
.background-image{
    width: 100vw; /* Sets the width to 100% of the viewport width */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes any default inline spacing */
    overflow: hidden; /* Ensures no overflow occurs */
}