*, *::before, *::after {
    box-sizing: border-box;
  }
body{
    display: flex;
    justify-content: center;
    background: #FAF5F0;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-inline-size: clamp(45ch,66ch,75ch);
    margin-bottom: 2em;
}
/* BEGINNING OF HEADER STYLES */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%
}
a{
    margin-left: .5em;
}
.info{
    background-color: transparent;
    border: 0px;
    margin-right: .5em;
}
.info:hover{
    cursor: pointer;
}
/* Custom header styles for page: */
.home:hover,
.info:hover{
    background-color: rgba(200, 200, 200, 0.4);
}
.home,
.info{
    border-radius: 5px;
}
/* END OF HEADER STYLES */


img{
    margin: 0 auto;
}
h2{
    color: #025259;
}
h3{
    color: #D97E4D;
}
h2, h3, .description{
    text-align: center;
}
p{
    text-indent: 25px;
    color:#674E2A;
}
.summary, .commentary{
    line-height: 1.4;
    font-size: 1.2rem;
}
.summary{
    border: 5px solid #025259;
    border-radius: 5px;
    padding: 0 1em 1em 1em;
    box-shadow: 10px 10px 5px rgba(103, 78, 42, .8);
}
.video{
    display: flex;
    justify-content: center;
}
iframe{
    width: 100%;
    aspect-ratio: 16 / 9; /* Adjust this ratio as needed */
    height: auto;
}
.commentary{
    margin-top: 2em;
    border: 5px solid #D97E4D;
    border-radius: 5px;
    padding: 0 1em 0 1em;
    box-shadow: 10px 10px 5px rgba(103, 78, 42, .8);
}
