*, *::before, *::after {
    box-sizing: border-box;
  }
html{
    background-color: #F2E8C9;
}
body{
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    margin: 1em;
}
h1, p{
    color: #401201;
}
h2, h4{
    color: #3C7DA6;
}
h3{
    color: #735B2F;
}
h4{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    max-width: 95%;
}
header{
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}
.start{
    justify-self: start;
}
.end{
    justify-self: end;
}
.info{
    background-color: transparent;
    border: 0px;
}
.info:hover{
    cursor: pointer;
}
p {
    width: clamp(45ch, 50%, 75ch);
    font-size: 1.2rem;
    line-height: 1.4;
}
.wrapper{
    border: 5px solid #96D2D9;
    border-radius: 5px;
    padding: 0 1em 1em 1em;
    box-shadow: 10px 10px 5px rgba(103, 78, 42, .8);
    width: 100%;
}
.wrapper + .wrapper{
    margin-top: 2em;
}
iframe{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}
.iframe-video{
    width: 444px;
    height: 250px;
}
.ytp-more-videos-view, .ytp-expand-pause-overlay, .ytp-pause-overlay{
    display: none;
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    row-gap: 2em;
}
.card{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}
.iframe-short{
    width: 196px;
    height: 350px;
}