*, *::before, *::after {
    box-sizing: border-box;
  }

body{
    display: flex;
    justify-content: center;
    margin: 0;
    /* background-color: darkolivegreen; */
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    max-width: 95%;
}
header{
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}
.start{
    justify-self: start;
}
.end{
    justify-self: end;
}
.info{
    background-color: transparent;
    border: 0px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    gap: 1em;
}
.content > *{
    flex-grow: 1;
}
.card{
    display: flex;
    justify-content: center;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}
.iframe-short{
    width: 252px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}