*, *::before, *::after {
    box-sizing: border-box;
  }

body{
    display: flex;
    justify-content: center;
    margin: 0;
    /* background-color: darkolivegreen; */
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}
header{
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}
.start{
    justify-self: start;
}
.end{
    justify-self: end;
}
.info{
    background-color: transparent;
    border: 0px;
}
.content{
    display: grid;
    grid-auto-flow: column;
}
.iframe-short{
    width: 252px;
    height: 450px;
}